.header{
    background: linear-gradient(skyblue, skyblue);
    color: #FFFFFF;
}

.menu{
    border: none;
    background: none;
    cursor: pointer;
}

.material-icons.color_white { color: #FFFFFF; }