<app-input [label]="'Pesquisa'" (input)="list()" [(ngModel)]="filterTerm" [id]="'inputFilter'"></app-input>
<button class="Bt" mat-stroked-button (click)="openModal()" style="background: skyblue; border: none;"><mat-icon>add</mat-icon></button>

<table>
  <th>ID</th>
  <th>Grupo</th>
  <th>Sub Grupo</th> 
  <th>Editar</th>
  <th>Excluir</th>
    <tr *ngFor="let subgroup of subgroups">
      <td class="Id">{{subgroup.id}}</td>
      <td>{{subgroup.fkgroup}} </td>
      <td>{{subgroup.description}} </td>
      <td class="editAnddelete"><button  class="BTedit" (click)="openModalEdit(subgroup)"><mat-icon>edit</mat-icon>	</button></td>
      <td class="editAnddelete"> <button class="BTdelet"(click)="deleteSubGroup(subgroup.id)"><mat-icon>delete</mat-icon></button></td>
    </tr>
</table>



