<app-input [label]="'Pesquisa'" (input)="list()" [(ngModel)]="filterTerm"></app-input>
<button class="Bt" mat-stroked-button (click)="openModal()"><mat-icon>note_add</mat-icon></button>



<table>
  <th>ID</th>
  <th>Grupo</th> 
  <th>Produto</th>
  <th>Preço</th>
  <th>Sub Grupo</th>
  <th>Coleção</th>
  <th>Editar</th>
  <th>Excluir</th>
    <tr *ngFor="let product of products">
      <td>{{product.id}} </td>
      <td>{{product.fkgroup}} </td>
      <td>{{product.description}} </td>
      <td>R$ {{product.price}} </td>
      <td>{{product.fksubgroup}} </td>
      <td>{{product.fkcollection }} </td>
      <td><button class="BTedit" (click)="openModalEdit(product)"><mat-icon>edit</mat-icon>	</button></td>
      <td><button class="BTdelet"(click)="deleteSubGroup(product.id)"><mat-icon>delete</mat-icon></button></td>
    </tr>
</table>