<mat-sidenav-container class="nav-container">
    <mat-sidenav mode="side" class="nav-content" [(opened)]="opened">
          <mat-action-list >
            <span *ngFor="let item of menu">
            <button mat-list-item  [routerLink]="item.path" *ngIf = "item.rule == rule">
                <mat-icon matListIcon>{{item.icon}}</mat-icon> {{item.caption}} 
            </button>
        </span>
          </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>