<app-input [label]="'Pesquisa'" (input)="list()" [(ngModel)]="filterTerm"></app-input>
<button class="Bt" mat-stroked-button (click)="openModal()"><mat-icon>add</mat-icon></button>
<table>
  <th>ID</th>
  <th>Coleção</th> 
  <th>Editar</th>
  <th>Excluir</th>
    <tr *ngFor="let collection of collections">
      <td class="Id">{{collection.id}} </td>
      <td>{{collection.description}} </td>
      <td class="editAnddelete"><button  class="BTedit" (click)="openModalEdit(collection)"><mat-icon>edit</mat-icon>	</button></td>
      <td class="editAnddelete"><button class="BTdelet"(click)="deleteCollection(collection.id)"><mat-icon>delete</mat-icon></button></td>
    </tr>
</table>


