<mat-card class="sombra">
    <mat-card-header>
        <h1 style="text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            INTÉGRATION DE LA TECHNOLOGIE NUMÉRIQUE</h1>
        <!-- <img cImg rounded src="assets/img/logoIDTN.png" > -->
    </mat-card-header>
    <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label><b>Usuário</b></mat-label>
                <input matInput placeholder="Usuário" type="text" [(ngModel)]="username">
            </mat-form-field>
        </mat-card-content>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label><b>Senha</b></mat-label>
                <input  matInput placeholder="Senha"  [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-card-content>   
    <mat-card-actions>
        <button class="btn-primary" (click)="login()">Entrar</button>
        <br>
        <button class="btn-secundary" (click)="openModal()">Não tem Login? Faça seu Cadastro</button>
    </mat-card-actions>
</mat-card>