@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

mat-card-header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
	width: 530px;
}
mat-card-header img{
	border-radius: 500px;
	height: 150px;
	width: 150px;
	border: 2px black solid;
	// border: solid rgb(8, 160, 221);
}

mat-card {
    max-width: 35rem;
    margin: 5rem auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

mat-form-field {
	width: 80%;
    font-family: 'Poppins', sans-serif;
	
}

.inputall{
    position: relative;
    left: 20%;
}

mat-card-content{
	input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(24, 137, 137) inset;
}
}

.btn-primary {
	background-color:#000000;
	border-radius: 5px;
	border: 0px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: monospace;
	font-size: 17px;
	padding: 15px 30px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	margin-bottom: 5px;
}
.btn-primary:hover {
	background-color:lightness($color: #ffffff);
}
.btn-primary:active {
	position: relative;
	top: 1px;
}

.sombra{
    // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	background-color: darkcyan;
}

.btn-secundary {
	background-color: transparent;
	border-radius:5px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:monospace;
	font-size:13px;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
	margin-bottom: 10px;
}
.btn-secundary:hover {
	background-color:darkcyan;
}
.btn-secundary:active {
	position:relative;
	top:1px;
}
