<app-input [label]="'Pesquisa'"(input)="list()" [(ngModel)]="filterTerm"></app-input>
<button class="Bt" mat-stroked-button (click)="openModal()"><mat-icon>add</mat-icon></button>
<table>
    <th>ID</th>
    <th>Produto</th>
    <th>Desconto</th>
    <th>Total</th>
    <th>Editar</th>
    <th>Excluir</th>
    <tr *ngFor="let product of frete let products of products">
        <td>{{product.id}}</td>
        <td>{{product.fkProduct}}</td>
        <td>{{product.porcent}}%</td>
        <td>{{product.price | currency : 'BRL'}}</td>
        <td class="editAnddelete"><button class="BTedit" (click)="openCalcularFreteModalEdit(product)"><mat-icon>edit</mat-icon></button></td>
      <td class="editAnddelete"><button class="BTdelet" (click)="deleteFrete(product.id)"><mat-icon>delete</mat-icon></button></td>
    </tr>
</table>